<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block extra_css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://fontawesome.com/icons/magnifying-glass?f=classic&s=solid"></script>
  <title>TenFilm - Онлайн кинотеарт</title>
</head>
<body>

    <header>
        <div class="container-menu">
            <div class="logo">
                <!-- <img src="images/views.png" alt=""> -->
            </div>
            <div class="nav-items">
                {% for c in cat %}
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                {% endfor %}
            </div>
            <div class="search_block">
                <form>
                  <input type="text" name=text" class="search" placeholder="Поиск">
                  <input type="submit" name="submit" class="submit" value="">
                </form>
              </div>
            <div class="button">
                <a href="{% url 'login' %}">Вход</a>
            </div>
        </div>
    </header>


    {% block content %}
    <main>
        <div class="container">
            <div class="movies">
                {% for m in movies %}
                <div class="movie">
                    <a href="{{ m.get_absolute_url }}">
                        <div class="movie__cover-inner">
                            <img src="{{ m.poster.url }}" alt="">
                            <div class="movie__cover--darkened"></div>
                        </div>
                    </a>
                    <div class="movie__info">
                        <a href="{{ m.get_absolute_url }}" class="movie__title-link">
                            <div class="movie__title">{{ m.title }}</div>
                        </a>
                        <div class="movie__category">
                            {% for g in m.genre.all %}
                                {{ g.name }}{% if not forloop.last %},{% endif %}
                            {% endfor %}</div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>