{% extends 'movies/home.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock %}

{% block content %}
    {% for m in movie_info %}
    <main>
        <div class="container">
            <div class="movies">
                <div class="movie">
                    <div class="movie__cover-inner">
                        <img src="{{ m.poster.url }}" alt="">
                    </div>
                        </div>
                        <div class="movie__info">
                            <div class="movie__param">
                                <p>Год производства</p>
                            </div>
                            <div class="movie__param">
                                <p>Жанр</p>
                            </div>
                            <div class="movie__param">
                                <p>Режиссер</p>
                            </div>
                            <div class="movie__param">
                                <p>Сценарист</p>
                            </div>
                            <div class="movie__param">
                                <p>В главных ролях</p>
                            </div>
                            <div class="movie__param">
                                <p>Премьера</p>
                            </div>
                            <div class="movie__param">
                                <p>Время</p>
                            </div>
                        </div>
                        <div class="movie-models__info">
                            <div class="movie__param2">
                                <p>{{ m.year }}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{% for g in m.genre.all %}
                                {{ g.name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{% for d in m.directors.all %}
                                {{ d.name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{% for s in m.screenwriter.all %}
                                {{ s.name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{% for a in m.actor.all %}
                                {{ a.name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{{ m.premiere }}</p>
                            </div>
                            <div class="movie__param2">
                                <p>{{ m.time }}</p>
                            </div>
                        </div>

                        <div class="movie__desc">
                            <h3>Описание</h3>
                            <p>{{ m.description }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>