* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 10px;

}

.container-menu {
    align-items: center;
    display: flex;

}

body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;

}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header__logo {
    font-size: 32px;
    text-decoration: none;
    color: #ffffff;
}

.header__search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}

.movies {
    display: flex;
    flex-wrap: wrap;
/*    justify-content: space-around;*/
    float: left;
    flex-direction: row;
}

.movie {
    width: 227px;
    margin: 25px;
    position: relative;
}

.movie__cover-inner {
    position: relative;
    height: 360px;
    width: 240px;
    align-items: center;
    transform: translate(100px);
}

.movie__cover-inner img {
    width: 240px;
    height: 360px;
    border-radius: 10px;
    align-items: center;
}

.movie__cover {
    max-width: 100%;
    height: 100%;

}

.movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 150%;
    height: 100%;
    z-index: 1;
    width: 240px;
    border-radius: 10px;
}

.movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;

}

.movie__title {
    font-size: 16px;
    color: #ffffff;
}

.movie__category {
    font-size: 14px;
    color: #ffd80e;
}

/* .movie__average {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0;
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
} */

.nav-items {
    justify-content: space-between;
    transform: translate(260px);
    display: flex;

}

.nav-items a{
    text-decoration: none;
    color: rgb(147, 143, 143);
}

.nav-items a:hover {
    color: #fff;
    transition: .5s;
}

.button a {
	background: #343434;
	padding: 7px 30px;
  	font-size:13px;
	font-weight: bold;
	color:rgb(255, 253, 253);
	text-align: center;
	border:solid 1px rgb(63, 63, 63);
    text-decoration: none;
    border-radius: 5px;
    align-items: center;

}

.button a:hover {
    color: #ffffff;
    background-color: #969696;
    transition: .3s;

}

.button {
    transform: translate(330px);
}


.button img {
    width: 20px;
    transform: translate(-600px);

}

.search_block form {
    width: 460px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    transform: translate(300px);

}
input.search {
    width: calc(100% - 54px);
    height: auto;
    background-color: #c1c1c1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 0;
    padding-left: 15px;
    transform: translate(19px);
}
input.submit {
    background: url("https://img.icons8.com/ffffff/search") center center/50% auto
      no-repeat #343434;
    border: 0;
    width: 54px;
    height: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

input.submit:hover {
    color: #ffffff;
    background-color: #969696;
    transition: .3s;

}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.movie__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 102px;
/* Отступ от постера */
}

.movie__param {
    margin-bottom: 0px;
    font-size: 15px;
    color: #969696;
}

.movie-models__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 120px;
    padding: 11px;
}

.movie__param2 {
    margin-bottom: 0px;
    font-size: 15px;
    color: #e6b333;
}

.movie__desc p{
    /* text-align: start; */
    max-width: 1000px;
    transform: translate(50px);
    color: #969696;

}

.movie__desc{
    text-align: center;
    margin-top: 100px;
}

.movie__desc h3{
    color:#969696;
    transform: translate(33px);
}

.movie__trailer{
    transform: translate(250px);
    margin-top: 100px;
}

.movie__trailer h3{
    color:#969696;
    text-align: center;
}

